In [1]:
# Import libraries
import numpy as np
import pandas as pd

In [2]:
# Question 1
# Part (a) - Create a 4x4 array of random integers from 1 to 20
array_4x4 = np.random.randint(1, 21, size=(4, 4))
print("Initial 4x4 Array:\n", array_4x4)

Initial 4x4 Array:
 [[ 3  9  7  4]
 [12 19 13 20]
 [ 5 11  7  1]
 [ 3  5 12 20]]

In [3]:
# Part (c) - Replace elements greater than 10 with 10
array_4x4[array_4x4 > 10] = 10
print("\nArray with elements >10 replaced by 10:\n", array_4x4)

Array with elements >10 replaced by 10:
 [[ 3  9  7  4]
 [10 10 10 10]
 [ 5 10  7  1]
 [ 3  5 10 10]]

In [4]:
# Part (d) - Sum of each row in modified array
row_sums = np.sum(array_4x4, axis=1)
print("\nSum of each row:", row_sums)

Sum of each row: [23 40 23 28]

In [5]:
# Question 2
data = np.array([5, 10, 15, 20, 25, 30, 35, 40])

In [6]:
# Part (a) - Calculate standard deviation and variance
std_dev = np.std(data)
variance = np.var(data)
print("\nStandard Deviation:", std_dev)
print("Variance:", variance)

Standard Deviation: 11.4564392373896
Variance: 131.25

In [7]:
# Part (b) - Find median and 25th percentile
median_value = np.median(data)
percentile_25 = np.percentile(data, 25)
print("Median:", median_value)
print("25th Percentile:", percentile_25)

Median: 22.5
25th Percentile: 13.75

In [8]:
# Part (c) - Normalize array to mean 0, standard deviation 1
data_normalized = (data - np.mean(data)) / np.std(data)
print("Normalized Data:", data_normalized)

Normalized Data: [-1.52752523 -1.09108945 -0.65465367 -0.21821789  0.21821789  0.65465367
  1.09108945  1.52752523]

In [9]:
# Question 3
# Part (a) - Array from 1 to 15
arr = np.arange(1, 16)
print("\nArray from 1 to 15:", arr)

Array from 1 to 15: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]

In [10]:
# Part (b) - Extract all even numbers
even_numbers = arr[arr % 2 == 0]
print("Even numbers:", even_numbers)

Even numbers: [ 2  4  6  8 10 12 14]

In [11]:
# Part (c) - Replace numbers divisible by 3 with -3
modified_array = np.where(arr % 3 == 0, -3, arr)
print("Array with numbers divisible by 3 replaced by -3:", modified_array)

Array with numbers divisible by 3 replaced by -3: [ 1  2 -3  4  5 -3  7  8 -3 10 11 -3 13 14 -3]

In [12]:
# Question 4
x = np.array([1, 2, 3])
y = np.array([4, 5, 6])

In [13]:
# Part (b) - Stack arrays vertically and horizontally
vertical_stack = np.vstack((x, y))
horizontal_stack = np.hstack((x, y))
print("\nVertical Stack:\n", vertical_stack)
print("Horizontal Stack:\n", horizontal_stack)

Vertical Stack:
 [[1 2 3]
 [4 5 6]]
Horizontal Stack:
 [1 2 3 4 5 6]

In [14]:
# Part (c) - Concatenate x and y
concatenated_array = np.concatenate((x, y))
print("Concatenated Array:", concatenated_array)

Concatenated Array: [1 2 3 4 5 6]

In [15]:
# Question 5
# Part (a) - Create Series from dictionary
series_data = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
series = pd.Series(series_data)

In [16]:
# Part (b) - Multiply all values by 2
series_multiplied = series * 2
print("\nSeries with values multiplied by 2:\n", series_multiplied)

Series with values multiplied by 2:
 a    20
b    40
c    60
d    80
dtype: int64

In [17]:
# Part (c) - Check if index 'e' exists
index_check = 'e' in series
print("Does index 'e' exist?", index_check)

Does index 'e' exist? False

In [18]:
# Part (d) - Convert Series to DataFrame
df_series = series.to_frame(name='Numbers')
print("\nDataFrame from Series:\n", df_series)

DataFrame from Series:
    Numbers
a       10
b       20
c       30
d       40

In [19]:
# Question 6
# Part (a) - Create DataFrame with random integers
df = pd.DataFrame({
    'A': np.random.randint(0, 51, size=5),
    'B': np.random.randint(0, 51, size=5),
    'C': np.random.randint(0, 51, size=5)
})
print("\nInitial DataFrame:\n", df)

Initial DataFrame:
     A   B   C
0   7  34  44
1   4  40   6
2  46  36  29
3  42  10  22
4  21  46  11

In [20]:
# Part (b) - Add column 'D' as sum of 'A' and 'B'
df['D'] = df['A'] + df['B']
print("\nDataFrame with 'D' column:\n", df)

DataFrame with 'D' column:
     A   B   C   D
0   7  34  44  41
1   4  40   6  44
2  46  36  29  82
3  42  10  22  52
4  21  46  11  67

In [21]:
# Part (c) - Drop column 'C'
df = df.drop(columns=['C'])
print("\nDataFrame after dropping 'C':\n", df)

DataFrame after dropping 'C':
     A   B   D
0   7  34  41
1   4  40  44
2  46  36  82
3  42  10  52
4  21  46  67

In [22]:
# Part (d) - Rename column 'D' to 'Total'
df = df.rename(columns={'D': 'Total'})
print("\nDataFrame after renaming 'D' to 'Total':\n", df)

DataFrame after renaming 'D' to 'Total':
     A   B  Total
0   7  34     41
1   4  40     44
2  46  36     82
3  42  10     52
4  21  46     67

In [23]:
# Question 7
# Part (a) - Set index as date range starting from today
df.index = pd.date_range(start=pd.Timestamp.today(), periods=len(df))
print("\nDataFrame with Date index:\n", df)

DataFrame with Date index:
                              A   B  Total
2024-11-07 23:23:33.268758   7  34     41
2024-11-08 23:23:33.268758   4  40     44
2024-11-09 23:23:33.268758  46  36     82
2024-11-10 23:23:33.268758  42  10     52
2024-11-11 23:23:33.268758  21  46     67

In [24]:
# Part (b) - Select rows where 'Total' > 50
rows_with_total_above_50 = df[df['Total'] > 50]
print("\nRows with 'Total' > 50:\n", rows_with_total_above_50)

Rows with 'Total' > 50:
                              A   B  Total
2024-11-09 23:23:33.268758  46  36     82
2024-11-10 23:23:33.268758  42  10     52
2024-11-11 23:23:33.268758  21  46     67

In [25]:
# Part (c) - Select columns 'A' and 'Total' for the first three rows
first_three_rows = df.iloc[:3][['A', 'Total']]
print("\nFirst three rows with columns 'A' and 'Total':\n", first_three_rows)

First three rows with columns 'A' and 'Total':
                              A  Total
2024-11-07 23:23:33.268758   7     41
2024-11-08 23:23:33.268758   4     44
2024-11-09 23:23:33.268758  46     82

In [26]:
# Question 8
# Create DataFrame with missing values
data = {
    'Name': ['Tom', 'James', 'Ricky', 'Vin', 'Steve'],
    'Age': [28, 34, np.nan, 29, np.nan],
    'Score': [85.0, np.nan, 79.0, np.nan, 92.0]
}
df_missing = pd.DataFrame(data)

In [27]:
# Part (b) - Identify columns with missing values
missing_columns = df_missing.columns[df_missing.isna().any()]
print("\nColumns with missing values:", missing_columns)

Columns with missing values: Index(['Age', 'Score'], dtype='object')

In [28]:
# Part (c) - Fill missing 'Age' values with median age
df_missing['Age'].fillna(df_missing['Age'].median(), inplace=True)
print("\nDataFrame after filling missing 'Age' values:\n", df_missing)

DataFrame after filling missing 'Age' values:
     Name   Age  Score
0    Tom  28.0   85.0
1  James  34.0    NaN
2  Ricky  29.0   79.0
3    Vin  29.0    NaN
4  Steve  29.0   92.0

In [29]:
# Part (d) - Drop rows with missing 'Score'
df_missing = df_missing.dropna(subset=['Score'])
print("\nDataFrame after dropping rows with missing 'Score':\n", df_missing)

DataFrame after dropping rows with missing 'Score':
     Name   Age  Score
0    Tom  28.0   85.0
2  Ricky  29.0   79.0
4  Steve  29.0   92.0

In [30]:
# Question 9
# Part (a) - Group by 'Team' and calculate total points
data = {
    'Team': ['A', 'A', 'B', 'B', 'C', 'C'],
    'Player': ['John', 'Alice', 'Bob', 'Emily', 'Frank', 'Grace'],
    'Points': [10, 15, 20, 25, 30, 35]
}
df_teams = pd.DataFrame(data)
team_totals = df_teams.groupby('Team')['Points'].sum()
print("\nTotal points by team:\n", team_totals)

Total points by team:
 Team
A    25
B    45
C    65
Name: Points, dtype: int64

In [31]:
# Part (b) - Find player with max points for each team
max_points_per_team = df_teams.loc[df_teams.groupby('Team')['Points'].idxmax()]
print("\nPlayer with max points for each team:\n", max_points_per_team)

Player with max points for each team:
   Team Player  Points
1    A  Alice      15
3    B  Emily      25
5    C  Grace      35

In [32]:
# Question 10
# Part (a) - Filter DataFrame for individuals over 30
data = {
    'Name': ['Anna', 'Ben', 'Charlie', 'Diana', 'Ethan', 'Fiona'],
    'Age': [28, 22, 35, 30, 40, 25],
    'City': ['New York', 'Los Angeles', 'New York', 'Chicago', 'Chicago', 'Los Angeles'],
    'Income': [50000, 60000, 75000, 82000, 90000, 45000]
}
df_people = pd.DataFrame(data)
over_30 = df_people[df_people['Age'] > 30]
print("\nIndividuals over 30:\n", over_30)

Individuals over 30:
       Name  Age      City  Income
2  Charlie   35  New York   75000
4    Ethan   40   Chicago   90000

In [33]:
# Part (b) - Filter for 'New York' or 'Chicago'
ny_or_chicago = over_30[over_30['City'].isin(['New York', 'Chicago'])]
print("\nIndividuals from 'New York' or 'Chicago':\n", ny_or_chicago)

Individuals from 'New York' or 'Chicago':
       Name  Age      City  Income
2  Charlie   35  New York   75000
4    Ethan   40   Chicago   90000

In [34]:
# Part (c) - Calculate average income
avg_income = ny_or_chicago['Income'].mean()
print("\nAverage income of filtered individuals:", avg_income)

Average income of filtered individuals: 82500.0

In [35]:
# Part (d) - Reset index
ny_or_chicago_reset = ny_or_chicago.reset_index(drop=True)
print("\nFiltered DataFrame with reset index:\n", ny_or_chicago_reset)

Filtered DataFrame with reset index:
       Name  Age      City  Income
0  Charlie   35  New York   75000
1    Ethan   40   Chicago   90000